In [ ]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd

df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [ ]:
df.shape

(7050, 23)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [ ]:
df.describe()

              Year  original order
count  7048.000000     6799.000000
mean   1935.722900     3401.152081
std     271.083776     1963.076319
min       0.000000        2.000000
25%    1948.000000     1701.500000
50%    1986.000000     3401.000000
75%    2010.000000     5100.500000
max    2026.000000     6802.000000

# Cleaning column "Date"

In [ ]:
#list out unique date formats and identify any patterns. Pattern: months
df["Date"].unique()

array(['14th October', '11th October', '7th October', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [ ]:
df["Date"].nunique()

6094

In [ ]:
#checking Count the number of null values
df["Date"].isna().sum()

np.int64(0)

In [ ]:
# dates are objects
df["Date"].dtypes

dtype('O')

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")


# valid month names
valid_months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]

def extract_month(date_str):
    if pd.isna(date_str) or not isinstance(date_str, str):  #check digit value and NaN
        return np.nan
    for month in valid_months:
        if month in date_str:
            return month
    return np.nan

# Apply the extract_month function to the 'Date' column
df['Month'] = df['Date'].apply(extract_month)

# Print the first few rows of the DataFrame to see the changes
display(df['Month'].head())
display(df['Month'].tail())

0      October
1      October
2      October
3    September
4    September
Name: Month, dtype: object

7045    NaN
7046    NaN
7047    NaN
7048    NaN
7049    NaN
Name: Month, dtype: object

In [ ]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', 'Month'],
      dtype='object')

In [ ]:
# unique / sum / count as overview
df['Month'].unique()

array(['October', 'September', 'August', 'July', 'June', nan, 'May',
       'December', 'November', 'April', 'March'], dtype=object)

In [ ]:
df['Month'].value_counts()

Month
May          452
July          18
June           8
August         7
October        5
September      4
April          2
December       1
November       1
March          1
Name: count, dtype: int64

In [ ]:
df["Year"].unique()

array([2025., 2024., 2026., 2023., 2022., 2021., 2020., 2019., 2018.,
       2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1691., 1640., 1638., 1637., 1617., 1595.,
       1580., 1555., 1554., 1543., 1518., 1500., 1000.,   77.,    5.,
          0.])

In [ ]:
df["Year"].nunique()

261

In [ ]:
df["Year"].isna().sum()

np.int64(2)

In [ ]:
df["Year"].dtypes

dtype('float64')

In [ ]:
df["Year"].isnull().sum()

np.int64(2)

In [ ]:
zero_count = (df["Year"] ==0.0).sum()

print(zero_count)

129

In [ ]:
# Compile the column Year : transfer the year from column Date into Year if the value is missing in Year column
# Function to extract year from Date column

import pandas as pd
import re

df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

def extract_year_from_date(date_str):
# Use regex to look for a 4-digit year. This pattern matches a sequence of exactly four digits surrounded by word boundaries,

    match = re.search(r'\b\d{4}\b', str(date_str))

    if match:
# re.match & group work together --> group() pulls out the specific part that matched.

        return int(match.group())

    return np.nan

# Transfer year from Date to Year columns if Year is NaN

df['Year'] = df.apply(lambda row: row['Year'] if not pd.isna(row['Year']) else extract_year_from_date(row['Date']),axis=1)

# Print the DataFrame with the newly extracted Year column
print(df)

                Date    Year        Type             Country  \
0       14th October  2025.0  Unprovoked            Columbia
1       11th October  2025.0  Unprovoked           Australia
2        7th October  2025.0  Unprovoked           Australia
3     29th September  2025.0  Unprovoked                 USA
4     27th September  2025.0    Provoked          Costa Rica
...              ...     ...         ...                 ...
7045     Before 1903     0.0  Unprovoked           AUSTRALIA
7046     Before 1903     0.0  Unprovoked           AUSTRALIA
7047       1900-1905     0.0  Unprovoked                 USA
7048       1883-1889     0.0  Unprovoked              PANAMA
7049       1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]

In [ ]:
## Convert to integer, handling NaN values

df['Year'] = df['Year'].fillna(0).astype(int)
print (df)

                Date  Year        Type             Country  \
0       14th October  2025  Unprovoked            Columbia
1       11th October  2025  Unprovoked           Australia
2        7th October  2025  Unprovoked           Australia
3     29th September  2025  Unprovoked                 USA
4     27th September  2025    Provoked          Costa Rica
...              ...   ...         ...                 ...
7045     Before 1903     0  Unprovoked           AUSTRALIA
7046     Before 1903     0  Unprovoked           AUSTRALIA
7047       1900-1905     0  Unprovoked                 USA
7048       1883-1889     0  Unprovoked              PANAMA
7049       1845-1853     0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]

In [ ]:
# other approach to clean the data from symbols is using Regex

# import re

# def clean_year(year):
    # Using regex to match the start of the string for digits
#   match = re.match(r"^\d+", str(year))  #sequence of digits at the start of the string, capturing the numeric component that constitutes the year
#   if match:
        # If there's a match, return the integer value
#      return int(match.group())


#   return None

In [ ]:
# # Drop rows with Year < 1500 as out of scope

df = df[df['Year'] >= 1500].reset_index(drop=True) # boolean
print(df)

                   Date  Year        Type     Country  \
0          14th October  2025  Unprovoked    Columbia
1          11th October  2025  Unprovoked   Australia
2           7th October  2025  Unprovoked   Australia
3        29th September  2025  Unprovoked         USA
4        27th September  2025    Provoked  Costa Rica
...                 ...   ...         ...         ...
6913               1555  1555  Unprovoked         NaN
6914           Ca. 1554  1554  Unprovoked      FRANCE
6915           Ca. 1543  1543  Unprovoked   VENEZUELA
6916      Ca 1588.04.00  1518  Unprovoked      MEXICO
6917  Ca 1200-1500 A.D.  1500  Unprovoked      MEXICO

                            State                        Location  \
0            Bolivar, del Isolate               Catagena Province
1                      Queensland  Cook Esplanade Thursday Island
2                 South Australia                 Kangaroo Island
3                  Off California                 Catalina Island
4                             NaN                   Cocos Islands
...                           ...                             ...
6913                          NaN                             NaN
6914            Nice & Marseilles                             NaN
6915  Magarita or Cubagua Islands                             NaN
6916                      Yucatan                         Cozumel
6917                          NaN                             NaN

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
6913               Swimming                   male   M  NaN  ...
6914                    NaN  males (wearing armor)   M  NaN  ...
6915           Pearl diving           Indian slave   M  NaN  ...
6916                Swmming    A cacique (a chief)   M  NaN  ...
6917                    NaN                   male   M  NaN  ...

                   Species                                          Source  \
0              Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1       Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2            Bronze whaler?              Kevin McMurray Trackingsharks.com
3        unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4            Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                     ...                                            ...
6913                    NaN                                   Olaus Magnus
6914  Possibly white sharks                                   G. Rondelet
6915                    NaN                                      J. Castro
6916                    NaN                                 C. Moore, GSAF
6917                    NaN                                      J. Castro

                                pdf  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
6913  1555.00.00 - Olaus Magnus.pdf
6914        1554.00.00-Rondelet.pdf
6915      1543.00.00.R-LasCasas.pdf
6916         1518.04.00.R.chief.pdf
6917              1200AD-Mexico.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...
6914  http://sharkattackfile.net/spreadsheets/pdf_di...
6915  http://sharkattackfile.net/spreadsheets/pdf_di...
6916                             1518.04.00.R-chief.pdf
6917                                  1200AD-Mexico.pdf

                                                   href   Case Number  \
0                                                   NaN           NaN
1                                                   NaN           NaN
2                                                   NaN           NaN
3                                                   NaN           NaN
4                                                   NaN           NaN
...                                                 ...           ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...    1555.00.00
6914  http://sharkattackfile.net/spreadsheets/pdf_di...    1554.00.00
6915  http://sharkattackfile.net/spreadsheets/pdf_di...    1543.00.00
6916                             1518.04.00.R-chief.pdf  1518.04.00.R
6917                                  1200AD-Mexico.pdf    1200.00.00

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6913    1555.00.00          138.0         NaN         NaN
6914    1554.00.00          137.0         NaN         NaN
6915    1543.00.00          136.0         NaN         NaN
6916  1518.04.00.R          135.0         NaN         NaN
6917    1200.00.00          134.0         NaN         NaN

[6918 rows x 23 columns]

In [ ]:
# also possible to group by major year ranges from 1500 to 2025.


# Define bins and labels for categorizing years

bins = [1499, 1599, 1699, 1799, 1899, 1999, 2025]  # interval
labels = [
    '1500-1599',
    '1600-1699',
    '1700-1799',
    '1800-1899',
    '1900-1999',
    '2000-2025'
]

# Using pd.cut() to create a new column with the categorical group
df['Year_Group'] = pd.cut(df['Year'], bins=bins, labels=labels, right=True)


print(df)

                   Date  Year        Type     Country  \
0          14th October  2025  Unprovoked    Columbia
1          11th October  2025  Unprovoked   Australia
2           7th October  2025  Unprovoked   Australia
3        29th September  2025  Unprovoked         USA
4        27th September  2025    Provoked  Costa Rica
...                 ...   ...         ...         ...
6913               1555  1555  Unprovoked         NaN
6914           Ca. 1554  1554  Unprovoked      FRANCE
6915           Ca. 1543  1543  Unprovoked   VENEZUELA
6916      Ca 1588.04.00  1518  Unprovoked      MEXICO
6917  Ca 1200-1500 A.D.  1500  Unprovoked      MEXICO

                            State                        Location  \
0            Bolivar, del Isolate               Catagena Province
1                      Queensland  Cook Esplanade Thursday Island
2                 South Australia                 Kangaroo Island
3                  Off California                 Catalina Island
4                             NaN                   Cocos Islands
...                           ...                             ...
6913                          NaN                             NaN
6914            Nice & Marseilles                             NaN
6915  Magarita or Cubagua Islands                             NaN
6916                      Yucatan                         Cozumel
6917                          NaN                             NaN

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
6913               Swimming                   male   M  NaN  ...
6914                    NaN  males (wearing armor)   M  NaN  ...
6915           Pearl diving           Indian slave   M  NaN  ...
6916                Swmming    A cacique (a chief)   M  NaN  ...
6917                    NaN                   male   M  NaN  ...

                                             Source  \
0     Kevin McMurray Trackingsharks.com Andy Currie
1                 Kevin McMurray Trackingsharks.com
2                 Kevin McMurray Trackingsharks.com
3     Todd Smith: Kevin McMurray Trackingsharks.com
4     Todd Smith: Kevin McMurray Trackingsharks.com
...                                             ...
6913                                   Olaus Magnus
6914                                   G. Rondelet
6915                                      J. Castro
6916                                 C. Moore, GSAF
6917                                      J. Castro

                                pdf  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
6913  1555.00.00 - Olaus Magnus.pdf
6914        1554.00.00-Rondelet.pdf
6915      1543.00.00.R-LasCasas.pdf
6916         1518.04.00.R.chief.pdf
6917              1200AD-Mexico.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...
6914  http://sharkattackfile.net/spreadsheets/pdf_di...
6915  http://sharkattackfile.net/spreadsheets/pdf_di...
6916                             1518.04.00.R-chief.pdf
6917                                  1200AD-Mexico.pdf

                                                   href   Case Number  \
0                                                   NaN           NaN
1                                                   NaN           NaN
2                                                   NaN           NaN
3                                                   NaN           NaN
4                                                   NaN           NaN
...                                                 ...           ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...    1555.00.00
6914  http://sharkattackfile.net/spreadsheets/pdf_di...    1554.00.00
6915  http://sharkattackfile.net/spreadsheets/pdf_di...    1543.00.00
6916                             1518.04.00.R-chief.pdf  1518.04.00.R
6917                                  1200AD-Mexico.pdf    1200.00.00

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Year_Group
0              NaN            NaN         NaN         NaN  2000-2025
1              NaN            NaN         NaN         NaN  2000-2025
2              NaN            NaN         NaN         NaN  2000-2025
3              NaN            NaN         NaN         NaN  2000-2025
4              NaN            NaN         NaN         NaN  2000-2025
...            ...            ...         ...         ...        ...
6913    1555.00.00          138.0         NaN         NaN  1500-1599
6914    1554.00.00          137.0         NaN         NaN  1500-1599
6915    1543.00.00          136.0         NaN         NaN  1500-1599
6916  1518.04.00.R          135.0         NaN         NaN  1500-1599
6917    1200.00.00          134.0         NaN         NaN  1500-1599

[6918 rows x 24 columns]

In [ ]:
## Group by the 'Year' and count the number of attacks in each year

yearly_counts = df.groupby('Year').size()

print(yearly_counts)

Year
1500      1
1518      1
1543      1
1554      1
1555      1
       ...
2022     98
2023    109
2024     52
2025     56
2026      1
Length: 257, dtype: int64

In [ ]:
# Groupby and size to calculate year with the highest number of shark attacks. Use idxmax to identify maximum index along the specified axis (rows or columns).

yearly_group_counts = df.groupby('Year_Group').size()
print(yearly_group_counts )

max_year = yearly_group_counts.idxmax()
print(max_year)

Year_Group
1500-1599       7
1600-1699       7
1700-1799      31
1800-1899     573
1900-1999    3501
2000-2025    2798
dtype: int64
1900-1999

/tmp/ipython-input-3948979906.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  yearly_group_counts = df.groupby('Year_Group').size()

In [ ]:
yearly_group_share = (df.groupby('Year_Group').size() / len (df))*100
print (f"The share of shark attacks per Year Group is: {yearly_group_share}")

The share of shark attacks per Year Group is: Year_Group
1500-1599     0.101185
1600-1699     0.101185
1700-1799     0.448106
1800-1899     8.282741
1900-1999    50.607112
2000-2025    40.445215
dtype: float64

/tmp/ipython-input-3394806255.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  yearly_group_share = (df.groupby('Year_Group').size() / len (df))*100

In [ ]:
# overview check

df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Year_Group
0,14th October,2025,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
1,11th October,2025,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
2,7th October,2025,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
3,29th September,2025,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
4,27th September,2025,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025

In [ ]:
#overview check

df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Year_Group
6913,1555,1555,Unprovoked,NaN,NaN,NaN,Swimming,male,M,NaN,...,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,138.0,NaN,NaN,1500-1599
6914,Ca. 1554,1554,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,...,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,137.0,NaN,NaN,1500-1599
6915,Ca. 1543,1543,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,NaN,...,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,136.0,NaN,NaN,1500-1599
6916,Ca 1588.04.00,1518,Unprovoked,MEXICO,Yucatan,Cozumel,Swmming,A cacique (a chief),M,NaN,...,"C. Moore, GSAF",1518.04.00.R.chief.pdf,1518.04.00.R-chief.pdf,1518.04.00.R-chief.pdf,1518.04.00.R,1518.04.00.R,135.0,NaN,NaN,1500-1599
6917,Ca 1200-1500 A.D.,1500,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,...,J. Castro,1200AD-Mexico.pdf,1200AD-Mexico.pdf,1200AD-Mexico.pdf,1200.00.00,1200.00.00,134.0,NaN,NaN,1500-1599

# Cleaning column "Country"

In [ ]:
df['Country']

0         Columbia
1        Australia
2        Australia
3              USA
4       Costa Rica
           ...
6913           NaN
6914        FRANCE
6915     VENEZUELA
6916        MEXICO
6917        MEXICO
Name: Country, Length: 6918, dtype: object

In [ ]:
# 50 NAN value
df['Country'].isna().sum()

np.int64(45)

In [ ]:
# Lowercase, remove whitespaces countries
df['Country'] = (df['Country'].str.strip().str.lower())

In [ ]:
# Remove special characters, like ?,
df['Country'] = df['Country'].str.replace(r'\?', '', regex=True)

In [ ]:
# Number of unique values in column Country
df['Country'].nunique()

204

In [ ]:
df['Country'].unique()

array(['columbia', 'australia', 'usa', 'costa rica', 'bahamas',
       'puerto rico', 'french polynesia', 'spain', 'canary islands',
       'south africa', 'vanuatu', 'jamaica', 'israel', 'mexico',
       'maldives', 'philippines', 'turks and caicos', 'mozambique',
       'new caledonia', 'egypt', 'thailand', 'new zealand', 'hawaii',
       'honduras', 'indonesia', 'morocco', 'belize', 'maldive islands',
       'tobago', 'india', 'trinidad', 'coral sea', 'portugal', 'samoa',
       'colombia', 'ecuador', 'cuba', 'brazil', 'seychelles', 'argentina',
       'fiji', 'england', 'japan', 'british overseas territory', 'canada',
       'jordan', 'st kitts / nevis', 'st martin', 'papua new guinea',
       'reunion island', 'china', 'ireland', 'italy', 'malaysia', 'libya',
       nan, 'mauritius', 'solomon islands',
       'st helena, british overseas territory', 'comoros', 'reunion',
       'united kingdom', 'united arab emirates', 'cape verde',
       'dominican republic', 'cayman islands', 'aruba', 'atlantic ocean',
       'greece', 'st. martin', 'france', 'trinidad & tobago', 'kiribati',
       'diego garcia', 'taiwan', 'palestinian territories', 'guam',
       'nigeria', 'tonga', 'scotland', 'croatia', 'saudi arabia', 'chile',
       'antigua', 'kenya', 'russia', 'turks & caicos',
       'united arab emirates (uae)', 'azores', 'south korea', 'malta',
       'vietnam', 'madagascar', 'panama', 'somalia', 'nevis',
       'british virgin islands', 'norway', 'senegal', 'yemen',
       'gulf of aden', 'sierra leone', 'st. maartin', 'grand cayman',
       'liberia', 'venezuela', 'sri lanka', 'uruguay', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'south china sea',
       'bangladesh', 'palau', 'western samoa', 'pacific ocean',
       'british isles', 'grenada', 'iraq', 'turkey', 'singapore',
       'new britain', 'sudan', 'johnston island', 'south pacific ocean',
       'new guinea', 'red sea', 'north pacific ocean',
       'federated states of micronesia', 'mid atlantic ocean',
       'admiralty islands', 'british west indies', 'south atlantic ocean',
       'persian gulf', 'red sea / indian ocean', 'north sea', 'nicaragua',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'the balkans', 'martinique', 'indian ocean', 'guatemala',
       'netherlands antilles', 'northern mariana islands', 'iran / iraq',
       'java', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'kuwait',
       'falkland islands', 'crete', 'cyprus', 'west indies', 'burma',
       'lebanon', 'paraguay', 'british new guinea', 'ceylon', 'ocean',
       'georgia', 'syria', 'tuvalu', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'peru', 'africa',
       'algeria', 'coast of africa', 'tasman sea', 'ghana', 'greenland',
       'mediterranean sea', 'sweden', 'roatan',
       'between portugal & india'], dtype=object)

In [ ]:
# Top 10 countries that have shark attacks
df['Country'].value_counts().head(10)

Country
usa                 2555
australia           1491
south africa         591
new zealand          145
bahamas              138
papua new guinea     132
brazil               122
mexico               107
italy                 70
fiji                  67
Name: count, dtype: int64

In [ ]:
result = (df.groupby("Country").size() / len(df) * 100).round(2).sort_values(ascending=False)
display(result.astype(str) + "%")

Country
usa              36.93%
australia        21.55%
south africa      8.54%
new zealand        2.1%
bahamas           1.99%
                  ...
st martin         0.01%
st. martin        0.01%
st. maartin       0.01%
tuvalu            0.01%
western samoa     0.01%
Length: 204, dtype: object

# Cleaning column "Location"

In [ ]:
result = (df.groupby("Location").size() / len(df) * 100).round(2).sort_values(ascending=False)
display(result.astype(str) + "%")

Location
unknown                                             7.69%
new smyrna beach, volusia county                    2.86%
daytona beach, volusia county                       0.51%
cocoa beach, brevard county                         0.48%
ponce inlet, volusia county                          0.4%
                                                    ...
yeppoon                                             0.01%
"turnaround", cape kiwanda, tillamook county        0.01%
1 km off black's beach                              0.01%
yeşilköy                                            0.01%
10 miles off santa barbara, santa barbara county    0.01%
Length: 4470, dtype: object

In [ ]:
## Location column
df['Location'].isna().sum()

np.int64(532)

In [ ]:
# Lowercase, remove whitespaces countries
df['Location'] = (df['Location'].fillna('Unknown').str.strip().str.lower())
# Remove spaces between words
df['Location'] = df['Location'].str.replace(r"\s+", " ", regex=True)

In [ ]:
# Number of unique values
df['Location'].nunique()

4470

In [ ]:
df['Location'].unique()

array(['catagena province', 'cook esplanade thursday island',
       'kangaroo island', ..., 'between manhattan and the bronx',
       'river cochin', 'cozumel'], dtype=object)

In [ ]:
df['Location'].value_counts().head(10)

Location
unknown                             532
new smyrna beach, volusia county    198
daytona beach, volusia county        35
cocoa beach, brevard county          33
ponce inlet, volusia county          28
myrtle beach, horry county           22
melbourne beach, brevard county      21
isle of palms, charleston county     18
piedade                              14
boa viagem, recife                   14
Name: count, dtype: int64

# Cleaning column "Activity"

In [ ]:
#562 cells are empty, i suggest to avoid them beacause <<10% of 6465 of they are not relevant
df['Activity'].isna().sum()

np.int64(562)

In [ ]:
#1568 activities differentes
df["Activity"].nunique()

1568

In [ ]:
#before more cleaning, this can show us that the mayority of the activities are in the line of code
df['Activity'].value_counts().head(160)

Activity
Surfing                                                                      1139
Swimming                                                                      990
Fishing                                                                       485
Spearfishing                                                                  391
Wading                                                                        176
                                                                             ...
Diving off jetty                                                                2
fishing boat exploded & sank                                                    2
Fishing for cod                                                                 2
S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water       2
Fishing for squid                                                               2
Name: count, Length: 160, dtype: int64

In [ ]:
df['Activity'].str.contains('Swimming', case=False).sum()

1240

In [ ]:
df['Activity'].str.contains('Diving', case=False).sum()

602

In [ ]:
import re

def clean_activity(activity):
    # Check if the entry is a string
    if isinstance(activity, str):
        # Use regular expression to find the first word before any delimiters
        match = re.match(r'^([^\s\/;\-\.,]+)', activity)
        if match:
            return match.group(1)
        else:
            return activity.strip()
    else:
        return ''  # or your desired default for non-string entries

# Apply the function to the DataFrame
df['clean_activity'] = df['Activity'].apply(clean_activity)

print(df['clean_activity'].head(400))  # Print the first few entries of the new column

0          Swimming
1           Fishing
2           Surfing
3          Swimming
4            Diving
           ...
395    Spearfishing
396            Body
397        Swimming
398
399    Spearfishing
Name: clean_activity, Length: 400, dtype: object

# Cleaning column "Sex"

In [ ]:
df["Sex"].head(20)

0      M
1      M
2      M
3      M
4      M
5      M
6      M
7      F
8      M
9      M
10     M
11     M
12     F
13     M
14     M
15    F
16     M
17     M
18     M
19     M
Name: Sex, dtype: object

In [ ]:
df["Sex"].dtype

dtype('O')

In [ ]:
#To see how many different values there are in column "Sex"
df['Sex'].nunique()

10

In [ ]:
#To see What are the different values in column "Sex"
df['Sex'].unique()

array(['M', 'F', 'F ', 'M ', nan, ' M', 'm', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [ ]:
df["Sex"].isnull().sum()

np.int64(571)

In [ ]:
#Tp see how often each value appears
df["Sex"].value_counts(dropna=False)

Sex
M        5543
F         792
NaN       571
M           3
F           2
N           2
 M          1
m           1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [ ]:
#standardizing formatting
#to refine the data frame --> convert everything to string/ lowercasing everything /removing spaces at the beginning and end
df["Sex"] = df["Sex"].astype(str).str.lower().str.strip()

In [ ]:
#to fill in anew value m/f with a proper name using map
df["Sex"] = df["Sex"].map({
    "m": "male",
    "f": "female"
}).fillna(df["Sex"])

In [ ]:
#to replace meaningless values with Na as a missing value
df["Sex"] = df["Sex"].replace(
    ["n", "m x 2", ".", "lli", "", "nan"],
    pd.NA
)

In [ ]:
df["Sex"].value_counts(dropna=False)

Sex
male      5548
female     794
<NA>       576
Name: count, dtype: int64

# Cleaning Column "Age"

In [ ]:
#General info about the column

In [ ]:
df["Age"].dtype

dtype('O')

In [ ]:
df["Age"].isnull().sum()

np.int64(2877)

In [ ]:
df["Age"].nunique()

250

In [ ]:
df["Age"].unique()

array(['14', '50+', '54', '48', '57', '8', '?', '63', '9', '39', '19',
       '7', '85', '69', '18', '66', '21', '40', '37', '16', '20', '12',
       '42', '26', '45', '30', '30+', '56', '40+', '29', 35, 58, 29, 24,
       20, 55, 17, 12, 37, 36, 23, 40, 28, 69, 48, '60+', 57, 45, 61, 27,
       38, 16, 68, 33, 30, 15, 41, 14, 43, 26, 'Middle age', 18, 21, 49,
       25, 46, 19, 65, 64, '13', nan, '11', '46', '32', '10', '64', '62',
       '22', '15', '52', '44', '47', '55', '59', '50', '34', '38', '30s',
       '20/30', '35', '65', '20s', '77', '60', '49', '!2', '24', '73',
       '25', '50s', '58', '67', '17', '6', '41', '53', '68', '43', '51',
       '31', 39, 51, 10, 13, 60, '40s', 62, 'teen', 8, 22, 32, 56, 'Teen',
       42, 50, 'M', 9, 31, 11, 34, '!6', '!!', 47, 7, 71, 59, 53, 54, 75,
       '45 and 15', 73, 52, 70, 4, 63, 44, '28 & 22', '22, 57, 31', '60s',
       "20's", 67, 74, '9 & 60', 'a minor', 6, 3, 82, '40?', 66, 72, '23',
       '36', '71', '70', '18 months', '28', '33', '61', '74', '27', '3',
       '28 & 26', '5', '86', '18 or 20', '12 or 13', '46 & 34',
       '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84, '\xa0 ', ' ',
       '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s', '23 & 20', 5,
       ' 30', '7      &    31', ' 28', '20?', "60's", '32 & 30',
       '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ', '45 ',
       '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12', '? & 19',
       '9 months', '25 to 35', '23 & 26', 1, '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19',
       '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN', ' 43', '81',
       '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11', '9 or 10',
       'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14', '10 or 12',
       '31 or 33', '2½', '1'], dtype=object)

In [ ]:
df["Age"].value_counts(dropna=False)

Age
NaN            2877
16               91
17               89
19               89
18               85
               ...
?    &   14       1
10 or 12          1
31 or 33          1
2½                1
1                 1
Name: count, Length: 251, dtype: int64

In [ ]:
#made a backup of the original column#
df["Age_raw"] = df["Age"]

In [ ]:
#to refine the data frame --> convert everything to string/ lowercasing everything /removing spaces at the beginning and end
df["Age"] = df["Age"].astype(str).str.lower().str.strip()

In [ ]:
#This checks weather the value in the Age column and contain a digit (0–9)?” and look for no digit values
no_digits = ~df["Age"].str.contains(r"\d", na=False)
df.loc[no_digits, "Age"].unique()

array(['?', 'middle age', 'nan', 'teen', 'm', '!!', 'a minor', 'teens',
       '', 'elderly', 'adult', '(adult)', 'x', '"middle-age"',
       'make line green', '"young"', 'f', 'young', 'a.m.'], dtype=object)

In [ ]:
# Fix duplicates using replace
df["Age"] = df["Age"].replace({
    "(adult)": "adult",
    '"young"': "young",
    '"middle-age"': "middle age",
    "teens": "teen",
})

In [ ]:
# We used the pandas .isin() method to find all junk age values (like "?", "m", "!!", "x", etc.)
#  and replaced them with pd.NA, so the Age column contains only meaningful information. -->  removed junk values
junk_values = ["?", "m", "!!", "", "x", "make line green", "f", "a.m."]

df.loc[df["Age"].isin(junk_values), "Age"] = pd.NA

In [ ]:
# Extract the first number inside each Age value
df["Age_num"] = df["Age"].str.extract(r"(\d+)")

In [ ]:
# Convert extracted strings into real numbers #float/integer
df["Age_num"] = pd.to_numeric(df["Age_num"], errors="coerce")
# errors="coerce" means “If something cannot be converted (like a word), turn it into NaN.”

In [ ]:
#check:
df[["Age", "Age_num"]].head(20)

     Age  Age_num
0     14     14.0
1     14     14.0
2    50+     50.0
3     54     54.0
4     48     48.0
5     57     57.0
6      8      8.0
7      8      8.0
8   <NA>      NaN
9     63     63.0
10  <NA>      NaN
11     9      9.0
12    39     39.0
13    19     19.0
14     7      7.0
15    85     85.0
16  <NA>      NaN
17    69     69.0
18    18     18.0
19    66     66.0

In [ ]:
# to give the emaningful age groups a numerical age
age_map = {
    "a minor": 1,
    "teen": 15,
    "young": 20,
    "adult": 30,
    "middle age": 45,
    "elderly": 70
}

df["Age_num"] = df["Age_num"].fillna(df["Age"].map(age_map))

In [ ]:
#to check:
df.loc[df["Age"].isin(age_map.keys()), ["Age", "Age_num"]].head(20)

             Age  Age_num
79    middle age     45.0
275         teen     15.0
288         teen     15.0
509         teen     15.0
692      a minor      1.0
899         teen     15.0
1014        teen     15.0
1245        teen     15.0
1372        teen     15.0
1702        teen     15.0
2022        teen     15.0
2050        teen     15.0
2240        teen     15.0
2310        teen     15.0
2378        teen     15.0
3604     elderly     70.0
4169       adult     30.0
4375        teen     15.0
4534       adult     30.0
4796  middle age     45.0

In [ ]:
import pandas as pd
import numpy as np

conditions = [
    df["Age_num"] < 13,                     # a minor
    df["Age_num"].between(13, 19, inclusive="both"),  # teen
    df["Age_num"].between(20, 29, inclusive="both"),  # young
    df["Age_num"].between(30, 39, inclusive="both"),  # adult
    df["Age_num"].between(40, 64, inclusive="both"),  # middle age
    df["Age_num"] >= 65                     # elderly
]

choices = ["a minor", "teen", "young", "adult", "middle age", "elderly"]

# 1) use a string as default so all outputs are strings
df["age_group"] = np.select(conditions, choices, default="unknown")

# 2) optional: turn "unknown" into proper missing values
df["age_group"] = df["age_group"].replace("unknown", pd.NA)

In [ ]:
#Checking for missing or weird age-category values
df["age_group"].value_counts(dropna=False)

age_group
<NA>          2897
young         1121
teen          1039
middle age     779
adult          643
a minor        355
elderly         84
Name: count, dtype: int64

In [ ]:
#Inspect rows where age is missing
df[df["age_group"].isnull()][["Age", "Age_num"]].head(20)

      Age  Age_num
8    <NA>      NaN
10   <NA>      NaN
16   <NA>      NaN
25   <NA>      NaN
36   <NA>      NaN
55   <NA>      NaN
60   <NA>      NaN
83   <NA>      NaN
98   <NA>      NaN
100   nan      NaN
104   nan      NaN
124   nan      NaN
125   nan      NaN
130   nan      NaN
137   nan      NaN
140   nan      NaN
141   nan      NaN
142   nan      NaN
150   nan      NaN
151   nan      NaN

In [ ]:
df["age_group"].isnull().sum()

np.int64(2897)

In [ ]:
df["age_group"].isna().sum()

np.int64(2897)

In [ ]:
#keep them
#remove them with # df = df.dropna(subset=["Age_num"])
#Fill missing ages with "unknown" --> df["Custom_Age_group"] = df["Custom_Age_group"].fillna("unknown")
#Fill Age_num with the median or mean (NOT recommended )

In [ ]:
#Inspect extreme or unrealistic ages
df[df["Age_num"] > 120][["Age", "Age_num"]]

Empty DataFrame
Columns: [Age, Age_num]
Index: []

In [ ]:
df_clean = df.dropna(subset=["Age_num"])

# Checking

In [ ]:
df[["Age", "Age_num", "age_group"]].head(20)

     Age  Age_num   age_group
0     14     14.0        teen
1     14     14.0        teen
2    50+     50.0  middle age
3     54     54.0  middle age
4     48     48.0  middle age
5     57     57.0  middle age
6      8      8.0     a minor
7      8      8.0     a minor
8   <NA>      NaN        <NA>
9     63     63.0  middle age
10  <NA>      NaN        <NA>
11     9      9.0     a minor
12    39     39.0       adult
13    19     19.0        teen
14     7      7.0     a minor
15    85     85.0     elderly
16  <NA>      NaN        <NA>
17    69     69.0     elderly
18    18     18.0        teen
19    66     66.0     elderly

In [ ]:
#rows that are missing
df["Age_num"].isna().sum()

np.int64(2897)

In [ ]:
#unique age group
df["age_group"].unique()

array(['teen', 'middle age', 'a minor', <NA>, 'adult', 'elderly', 'young'],
      dtype=object)

In [ ]:
df["age_group"].value_counts(dropna=True)

age_group
young         1121
teen          1039
middle age     779
adult          643
a minor        355
elderly         84
Name: count, dtype: int64

In [ ]:
result = (df.groupby("age_group").size() / len(df) * 100).round(2).sort_values(ascending=False)
display(result.astype(str) + "%")

age_group
young          16.2%
teen          15.02%
middle age    11.26%
adult          9.29%
a minor        5.13%
elderly        1.21%
dtype: object

In [ ]:
grouped_data = df.groupby(['Year', 'Location']).size()

max_shark_attacks = grouped_data.idxmax()

print(f"The highest number of shark attacks occurred in the year {max_shark_attacks[0]} at the location '{max_shark_attacks[1]}'.")

The highest number of shark attacks occurred in the year 2001 at the location 'new smyrna beach, volusia county'.

In [ ]:
result = (df.groupby("Year").size() / len(df) * 100).round(2).sort_values(ascending=False)
display(result.astype(str) + "%")

Year
2015    2.07%
2017    2.05%
2016    1.92%
2011    1.85%
2014    1.82%
        ...
1764    0.01%
1771    0.01%
1779    0.01%
1780    0.01%
2026    0.01%
Length: 257, dtype: object

In [ ]:
result = (df.groupby("Year_Group").size() / len(df) * 100).round(2).sort_values(ascending=False)
display(result.astype(str) + "%")

/tmp/ipython-input-2080235713.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = (df.groupby("Year_Group").size() / len(df) * 100).round(2).sort_values(ascending=False)

Year_Group
1900-1999    50.61%
2000-2025    40.45%
1800-1899     8.28%
1700-1799     0.45%
1600-1699      0.1%
1500-1599      0.1%
dtype: object

In [ ]:
grouped_data = df.groupby(['Year', 'Activity']).size()

max_shark_attacks = grouped_data.idxmax()

print(f"The highest number of shark attacks occurred in the year {max_shark_attacks[0]} at the location '{max_shark_attacks[1]}'.")

The highest number of shark attacks occurred in the year 2012 at the location 'Surfing'.

In [ ]:
grouped_data = df.groupby(['Age', 'Sex']).size()

max_shark_attacks = grouped_data.idxmax()

print(f"The highest number of shark attacks occurred in the year {max_shark_attacks[0]} at the location '{max_shark_attacks[1]}'.")

The highest number of shark attacks occurred in the year nan at the location 'male'.

In [ ]:
grouped_data = df.groupby(['Year', 'Activity']).size()

max_shark_attacks = grouped_data.idxmax()

print(f"The highest number of shark attacks occurred in the year {max_shark_attacks[0]} with '{max_shark_attacks[1]}' activity.")

The highest number of shark attacks occurred in the year 2012 with 'Surfing' activity.

In [ ]:
grouped_data = df.groupby(['Year', 'Activity']).size()

max_shark_attacks = grouped_data.idxmax()

print(f"The highest number of shark attacks occurred in the year {max_shark_attacks[0]} at the location '{max_shark_attacks[1]}'.")

The highest number of shark attacks occurred in the year 2012 at the location 'Surfing'.